<h2>New User</h2>
<form action="/users/create" method="post">
  <input type="text" name="user[username]" placeholder="username" value="<%= "#{@user.username}" %>"><br>
  <input type="password" name="user[password]" placeholder="password" value="<%= "#{@user.password}" %>"><br>
  <input type="submit" value="Create">
</form>
